@font-face {
	font-family: 'entypo';
	src:url('fonts/entypo.eot?aury3b');
	src:url('fonts/entypo.eot?#iefixaury3b') format('embedded-opentype'),
		url('fonts/entypo.woff?aury3b') format('woff'),
		url('fonts/entypo.ttf?aury3b') format('truetype'),
		url('fonts/entypo.svg?aury3b#entypo') format('svg');
	font-weight: normal;
	font-style: normal;
}

.ent {
	font-family: 'entypo' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.entphone:before {
	content: "\e600";
}
.entmobile:before {
	content: "\e601";
}
.entmouse:before {
	content: "\e602";
}
.entdirections:before {
	content: "\e603";
}
.entmail:before {
	content: "\e604";
}
.entpaperplane:before {
	content: "\e605";
}
.entpencil:before {
	content: "\e606";
}
.entfeather:before {
	content: "\e607";
}
.entpaperclip:before {
	content: "\e608";
}
.entdrawer:before {
	content: "\e609";
}
.entreply:before {
	content: "\e612";
}
.entreply-all:before {
	content: "\e613";
}
.entforward:before {
	content: "\e614";
}
.entuser:before {
	content: "\e615";
}
.entusers:before {
	content: "\e616";
}
.entuser-add:before {
	content: "\e617";
}
.entvcard:before {
	content: "\e618";
}
.entexport:before {
	content: "\e619";
}
.entlocation:before {
	content: "\e61a";
}
.entmap:before {
	content: "\e61b";
}
.entcompass:before {
	content: "\e61c";
}
.entlocation2:before {
	content: "\e61d";
}
.enttarget:before {
	content: "\e61e";
}
.entshare:before {
	content: "\e61f";
}
.entsharable:before {
	content: "\e620";
}
.entheart:before {
	content: "\e621";
}
.entheart2:before {
	content: "\e622";
}
.entstar:before {
	content: "\e623";
}
.entstar2:before {
	content: "\e624";
}
.entthumbsup:before {
	content: "\e625";
}
.entthumbsdown:before {
	content: "\e626";
}
.entchat:before {
	content: "\e627";
}
.entcomment:before {
	content: "\e628";
}
.entquote:before {
	content: "\e629";
}
.enthouse:before {
	content: "\e62a";
}
.entpopup:before {
	content: "\e62b";
}
.entsearch:before {
	content: "\e62c";
}
.entflashlight:before {
	content: "\e62d";
}
.entprinter:before {
	content: "\e62e";
}
.entbell:before {
	content: "\e62f";
}
.entlink:before {
	content: "\e630";
}
.entflag:before {
	content: "\e631";
}
.entcog:before {
	content: "\e632";
}
.enttools:before {
	content: "\e633";
}
.enttrophy:before {
	content: "\e634";
}
.enttag:before {
	content: "\e635";
}
.entcamera:before {
	content: "\e636";
}
.entmegaphone:before {
	content: "\e637";
}
.entmoon:before {
	content: "\e638";
}
.entpalette:before {
	content: "\e639";
}
.entleaf:before {
	content: "\e63a";
}
.entmusic:before {
	content: "\e63b";
}
.entmusic2:before {
	content: "\e63c";
}
.entnew:before {
	content: "\e63d";
}
.entgraduation:before {
	content: "\e63e";
}
.entbook:before {
	content: "\e63f";
}
.entnewspaper:before {
	content: "\e640";
}
.entbag:before {
	content: "\e641";
}
.entairplane:before {
	content: "\e642";
}
.entlifebuoy:before {
	content: "\e643";
}
.enteye:before {
	content: "\e644";
}
.entclock:before {
	content: "\e645";
}
.entmicrophone:before {
	content: "\e646";
}
.entcalendar:before {
	content: "\e647";
}
.entbolt:before {
	content: "\e648";
}
.entthunder:before {
	content: "\e649";
}
.entdroplet:before {
	content: "\e64a";
}
.entcd:before {
	content: "\e64b";
}
.entbriefcase:before {
	content: "\e64c";
}
.entair:before {
	content: "\e64d";
}
.enthourglass:before {
	content: "\e64e";
}
.entgauge:before {
	content: "\e64f";
}
.entlanguage:before {
	content: "\e650";
}
.entnetwork:before {
	content: "\e651";
}
.entkey:before {
	content: "\e652";
}
.entbattery:before {
	content: "\e653";
}
.entbucket:before {
	content: "\e654";
}
.entmagnet:before {
	content: "\e655";
}
.entdrive:before {
	content: "\e656";
}
.entcup:before {
	content: "\e657";
}
.entrocket:before {
	content: "\e658";
}
.entbrush:before {
	content: "\e659";
}
.entsuitcase:before {
	content: "\e65a";
}
.entcone:before {
	content: "\e65b";
}
.entearth:before {
	content: "\e65c";
}
.entkeyboard:before {
	content: "\e65d";
}
.entbrowser:before {
	content: "\e65e";
}
.entpublish:before {
	content: "\e65f";
}
.entprogress-3:before {
	content: "\e660";
}
.entprogress-2:before {
	content: "\e661";
}
.entbrogress-1:before {
	content: "\e662";
}
.entprogress-0:before {
	content: "\e663";
}
.entsun:before {
	content: "\e664";
}
.entsun2:before {
	content: "\e665";
}
.entadjust:before {
	content: "\e666";
}
.entcode:before {
	content: "\e667";
}
.entscreen:before {
	content: "\e668";
}
.entinfinity:before {
	content: "\e669";
}
.entlight-bulb:before {
	content: "\e66a";
}
.entcreditcard:before {
	content: "\e66b";
}
.entdatabase:before {
	content: "\e66c";
}
.entvoicemail:before {
	content: "\e66d";
}
.entclipboard:before {
	content: "\e66e";
}
.entcart:before {
	content: "\e66f";
}
.entbox:before {
	content: "\e670";
}
.entticket:before {
	content: "\e671";
}
.entrss:before {
	content: "\e672";
}
.entsignal:before {
	content: "\e673";
}
.entthermometer:before {
	content: "\e674";
}
.entdroplets:before {
	content: "\e675";
}
.entuniE676:before {
	content: "\e676";
}
.entstatistics:before {
	content: "\e677";
}
.entpie:before {
	content: "\e678";
}
.entbars:before {
	content: "\e679";
}
.entgraph:before {
	content: "\e67a";
}
.entlock:before {
	content: "\e67b";
}
.entlock-open:before {
	content: "\e67c";
}
.entlogout:before {
	content: "\e67d";
}
.entlogin:before {
	content: "\e67e";
}
.entcheckmark:before {
	content: "\e67f";
}
.entcross:before {
	content: "\e680";
}
.entminus:before {
	content: "\e681";
}
.entplus:before {
	content: "\e682";
}
.entcross2:before {
	content: "\e683";
}
.entminus2:before {
	content: "\e684";
}
.entplus2:before {
	content: "\e685";
}
.entcross3:before {
	content: "\e686";
}
.entminus3:before {
	content: "\e687";
}
.entplus3:before {
	content: "\e688";
}
.enterase:before {
	content: "\e689";
}
.entblocked:before {
	content: "\e68a";
}
.entinfo:before {
	content: "\e68b";
}
.entinfo2:before {
	content: "\e68c";
}
.entquestion:before {
	content: "\e68d";
}
.enthelp:before {
	content: "\e68e";
}
.entwarning:before {
	content: "\e68f";
}
.entcycle:before {
	content: "\e690";
}
.entcw:before {
	content: "\e691";
}
.entccw:before {
	content: "\e692";
}
.entshuffle:before {
	content: "\e693";
}
.entarrow:before {
	content: "\e694";
}
.entarrow2:before {
	content: "\e695";
}
.entretweet:before {
	content: "\e696";
}
.entloop:before {
	content: "\e697";
}
.enthistory:before {
	content: "\e698";
}
.entback:before {
	content: "\e699";
}
.entswitch:before {
	content: "\e69a";
}
.entlist:before {
	content: "\e69b";
}
.entadd-to-list:before {
	content: "\e69c";
}
.entlayout:before {
	content: "\e69d";
}
.entlist2:before {
	content: "\e69e";
}
.enttext:before {
	content: "\e69f";
}
.enttext2:before {
	content: "\e6a0";
}
.entdocument:before {
	content: "\e6a1";
}
.entdocs:before {
	content: "\e6a2";
}
.entlandscape:before {
	content: "\e6a3";
}
.entpictures:before {
	content: "\e6a4";
}
.entvideo:before {
	content: "\e6a5";
}
.entmusic3:before {
	content: "\e6a6";
}
.entfolder:before {
	content: "\e6a7";
}
.entarchive:before {
	content: "\e6a8";
}
.enttrash:before {
	content: "\e6a9";
}
.entupload:before {
	content: "\e6aa";
}
.entdownload:before {
	content: "\e6ab";
}
.entdisk:before {
	content: "\e6ac";
}
.entinstall:before {
	content: "\e6ad";
}
.entcloud:before {
	content: "\e6ae";
}
.entupload2:before {
	content: "\e6af";
}
.entbookmark:before {
	content: "\e6b0";
}
.entbookmarks:before {
	content: "\e6b1";
}
.entbook2:before {
	content: "\e6b2";
}
.entplay:before {
	content: "\e6b3";
}
.entpause:before {
	content: "\e6b4";
}
.entrecord:before {
	content: "\e60a";
}
.entstop:before {
	content: "\e60b";
}
.entnext:before {
	content: "\e6b5";
}
.entprevious:before {
	content: "\e6b6";
}
.entfirst:before {
	content: "\e6b7";
}
.entlast:before {
	content: "\e6b8";
}
.entresize-enlarge:before {
	content: "\e6b9";
}
.entresize-shrink:before {
	content: "\e6ba";
}
.entvolume:before {
	content: "\e6bb";
}
.entsound:before {
	content: "\e6bc";
}
.entmute:before {
	content: "\e6bd";
}
.entflow-cascade:before {
	content: "\e6be";
}
.entflow-branch:before {
	content: "\e6bf";
}
.entflow-tree:before {
	content: "\e6c0";
}
.entflow-line:before {
	content: "\e6c1";
}
.entflow-parallel:before {
	content: "\e6c2";
}
.entarrow-left:before {
	content: "\e6c3";
}
.entarrow-down:before {
	content: "\e6c4";
}
.entarrow-up-upload:before {
	content: "\e6c5";
}
.entarrow-right:before {
	content: "\e6c6";
}
.entarrow-left2:before {
	content: "\e6c7";
}
.entarrow-down2:before {
	content: "\e6c8";
}
.entarrow-up:before {
	content: "\e6c9";
}
.entarrow-right2:before {
	content: "\e6ca";
}
.entarrow-left3:before {
	content: "\e6cb";
}
.entarrow-down3:before {
	content: "\e6cc";
}
.entarrow-up2:before {
	content: "\e6cd";
}
.entarrow-right3:before {
	content: "\e6ce";
}
.entarrow-left4:before {
	content: "\e6cf";
}
.entarrow-down4:before {
	content: "\e6d0";
}
.entarrow-up3:before {
	content: "\e6d1";
}
.entarrow-right4:before {
	content: "\e6d2";
}
.entarrow-left42:before {
	content: "\e60c";
}
.entarrow-down5:before {
	content: "\e6d3";
}
.entarrow-up4:before {
	content: "\e6d4";
}
.entarrow-right42:before {
	content: "\e60d";
}
.entarrow-left5:before {
	content: "\e60e";
}
.entarrow-down6:before {
	content: "\e6d5";
}
.entarrow-up5:before {
	content: "\e6d6";
}
.entarrow-right5:before {
	content: "\e60f";
}
.entarrow-left6:before {
	content: "\e610";
}
.entarrow-down7:before {
	content: "\e6d7";
}
.entarrow-up6:before {
	content: "\e6d8";
}
.entarrow-right6:before {
	content: "\e611";
}
.entarrow-left7:before {
	content: "\e6d9";
}
.entarrow-down8:before {
	content: "\e6da";
}
.entarrow-up7:before {
	content: "\e6db";
}
.entarrow-right7:before {
	content: "\e6dc";
}
.entmenu:before {
	content: "\e6dd";
}
.entellipsis:before {
	content: "\e6de";
}
.entdots:before {
	content: "\e6df";
}
.entdot:before {
	content: "\e6e0";
}
.entcc:before {
	content: "\e6e1";
}
.entcc-by:before {
	content: "\e6e2";
}
.entcc-nc:before {
	content: "\e6e3";
}
.entcc-nc-eu:before {
	content: "\e6e4";
}
.entcc-nc-jp:before {
	content: "\e6e5";
}
.entcc-sa:before {
	content: "\e6e6";
}
.entcc-nd:before {
	content: "\e6e7";
}
.entcc-pd:before {
	content: "\e6e8";
}
.entcc-zero:before {
	content: "\e6e9";
}
.entcc-share:before {
	content: "\e6ea";
}
.entcc-share2:before {
	content: "\e6eb";
}
.entdanielbruce:before {
	content: "\e6ec";
}
.entdanielbruce2:before {
	content: "\e6ed";
}
.entgithub:before {
	content: "\e6ee";
}
.entgithub2:before {
	content: "\e6ef";
}
.entflickr:before {
	content: "\e6f0";
}
.entflickr2:before {
	content: "\e6f1";
}
.entvimeo:before {
	content: "\e6f2";
}
.entvimeo2:before {
	content: "\e6f3";
}
.enttwitter:before {
	content: "\e6f4";
}
.enttwitter2:before {
	content: "\e6f5";
}
.entfacebook:before {
	content: "\e6f6";
}
.entfacebook2:before {
	content: "\e6f7";
}
.entfacebook3:before {
	content: "\e6f8";
}
.entgoogleplus:before {
	content: "\e6f9";
}
.entgoogleplus2:before {
	content: "\e6fa";
}
.entpinterest:before {
	content: "\e6fb";
}
.entpinterest2:before {
	content: "\e6fc";
}
.enttumblr:before {
	content: "\e6fd";
}
.enttumblr2:before {
	content: "\e6fe";
}
.entlinkedin:before {
	content: "\e6ff";
}
.entlinkedin2:before {
	content: "\e700";
}
.entdribbble:before {
	content: "\e701";
}
.entdribbble2:before {
	content: "\e702";
}
.entstumbleupon:before {
	content: "\e703";
}
.entstumbleupon2:before {
	content: "\e704";
}
.entlastfm:before {
	content: "\e705";
}
.entlastfm2:before {
	content: "\e706";
}
.entrdio:before {
	content: "\e707";
}
.entrdio2:before {
	content: "\e708";
}
.entspotify:before {
	content: "\e709";
}
.entspotify2:before {
	content: "\e70a";
}
.entqq:before {
	content: "\e70b";
}
.entinstagram:before {
	content: "\e70c";
}
.entdropbox:before {
	content: "\e70d";
}
.entevernote:before {
	content: "\e70e";
}
.entflattr:before {
	content: "\e70f";
}
.entskype:before {
	content: "\e710";
}
.entskype2:before {
	content: "\e711";
}
.entrenren:before {
	content: "\e712";
}
.entsina-weibo:before {
	content: "\e713";
}
.entpaypal:before {
	content: "\e714";
}
.entpicasa:before {
	content: "\e715";
}
.entsoundcloud:before {
	content: "\e716";
}
.entmixi:before {
	content: "\e717";
}
.entbehance:before {
	content: "\e718";
}
.entcircles:before {
	content: "\e719";
}
.entvk:before {
	content: "\e71a";
}
.entsmashing:before {
	content: "\e71b";
}
