@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'brainstorm';
	src:url('../fonts/brainstorm.eot');
	src:url('../fonts/brainstorm.eot') format('embedded-opentype'),
		url('../fonts/brainstorm.woff') format('woff'),
		url('../fonts/brainstorm.ttf') format('truetype'),
		url('../fonts/brainstorm.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.toplevel_page_bsf-registration > div.wp-menu-image:before {
	content: "\e603" !important;
	font-family: 'brainstorm' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.update-nag, .updated, .error {
	display:none;
}
.bsf-spinner {
	opacity: 0;
	vertical-align: sub;
	float:none;
	display:inline-block;
	-webkit-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}
.bsf-spinner-show {
	opacity:1;
}
.bsf-user-registration-form-wrapper {
	text-align: center;
}
.bsf-user-registration-inner-wrapper {
	padding-right: 20px;
}
.bsf-ur-wrap {
	max-width: 650px;
	width: 100%;
	margin: 0 auto;
	padding: 40px 35px 35px;
	background: white;
}
.bsf-pr-form-wrapper {
	width: 90%;
	margin: 15px auto 0px;
}
.bsf-pr-header {
	text-align:center;
	margin: 35px 6.5% 40px;
}
.bsf-pr-header h2 {
	margin: 0 0 15px;
	padding: 0;
	font-size: 48px;
	font-weight: 400;
	letter-spacing: -0.05em;
	line-height: 1.1;
}
.bsf-pr-header .bsf-pr-decription {
	margin: 0;
	padding: 0;
	font-size: 21px;
	font-weight: 300;
	line-height: 1.3;
	color: #777;
}
.bsf-pr-form-row {
	  margin-bottom: 25px;
}
.bsf-pr-form .bsf-pr-input {
	font-size: 20px;
	width: 100%;
	max-width: 100%;
	font-weight: 100;
	padding: 10px 15px;
	border: 2px solid #EDEDED;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.bsf-pr-form .bsf-pr-input-required {
	border:2px solid rgb(255, 136, 136);
}
.button-primary.bsf-button-primary {
	height: 42px;
	margin: 0;
	padding: 0 15px 2px;
	font-size: 18px;
	font-weight: 300;
	line-height:2em;
}
.button-primary.bsf-button-primary .dashicons {
	vertical-align:middle;
	margin-right: 10px;
}
.bsf-popup {
	display:none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.35);
	z-index: 99999;
}
.bsf-popup-message {
	display:none;
	position: fixed;
	min-width: 65%;
	min-height: 40%;
	background: white;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 99999;
	border-radius: 3px;
	padding-bottom: 25px;
}
.bsf-popup-message-inner-html {
	  padding: 25px 25px 0;
}
.bsf-popup-message h2 {
	padding: 20px 25px;
	margin: 0;
	background: #F9F9F9;
}
.bsf-popup-message ul {
	margin-left:20px !important;
	  margin-top: 0;
}
.bsf-popup-close {
	position: absolute;
	right: 30px;
	top: 8px;
	font-size: 45px;
	color: rgba(200, 200, 200, 0.8);
	cursor: pointer;
}
.bsf-popup-close:hover {
	color: rgba(152, 151, 151, 0.8);
}
.bsf-tab {
	display:none;
}
.bsf-tab-active {
	display:block;
}
tr.registered td:first-child {
	border-left: 3px solid rgb(0, 218, 0);
}

.bsf-product-list h4 {
	font-size: 21px;
	font-weight: 100;
	margin-bottom: 15px;
}
.bsf-product-list .version {
	font-size: 15px;
	font-weight: 100;
	font-style: italic;
}
.bsf-product-list {
	list-style:none;
}
.bsf-product-list li {
	padding: 0 0 15px;
	margin: 15px 25px 0 0;
	width: calc(50% - 15px);
	float: left;
	text-align: center;
	background: white;
	border: 1px solid #e5e5e5;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.bsf-product-list li:nth-child(2n) {
	margin-right:0;
}
.bsf-product-list li:nth-child(2n+1) {
	clear:both;
}
.bsf-pr-form-wrapper {
	display:none;
}
.bsf-registration-form-toggle {
	margin: 10px 0 0;
	cursor:pointer;
}
.bsf-registration-form-toggle span {
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.bsf-registration-form-toggle .toggle-icon {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
table .bsf-pr-input-required {
	border:1px solid rgb(255, 136, 136);
}
.bsf-tab .inner {
	padding:25px 0;
}

.bsf-overlay {
	position: fixed;
	width: calc(100% - 160px);
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.92);
	z-index: 999;
	display:table;
	margin-left:160px;
}
.bsf-message {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}