/* Admin Bar */
#wpadminbar .customizer_menu_item_class .ab-icon:before {
	content: '\f309';
	top: 4px;
}
/*
#wpadminbar ul li.customizer_menu_item_class,
#wpadminbar ul li.customizer_menu_item_class a {
    background: #DE5034;
    color: #fff;
}
#wpadminbar ul li.customizer_menu_item_class:hover,
#wpadminbar ul li.customizer_menu_item_class:hover a,
#wpadminbar .ab-top-menu > li.customizer_menu_item_class:hover > a.ab-item {
    background: #fff;
    color: #DE5034;
}
*/
