li.customize-control.customize-control-slider input[type=text] {
  width: 20%;
  float: left;
  text-align: center;
}

li.customize-control.customize-control-slider .ss-slider {
  width: 70%;
  margin-left: 25%;
  margin-top: 12px;
}
.customize-control-slider .ui-state-default, 
.customize-control-slider .ui-widget-content .ui-state-default, 
.customize-control-slider .ui-widget-header .ui-state-default {
  background-color: #2ea2cc;
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #0074a2;
  -webkit-transition: 0.1s linear background-image;
  -moz-transition: 0.1s linear background-image;
  -ms-transition: 0.1s linear background-image;
  -o-transition: 0.1s linear background-image;
  transition: 0.1s linear background-image;
  overflow: visible;
}
li#customize-control-favicon-img .thumbnail-image img {
  max-width: 18px;
  text-align: center;
  margin: 10px auto;
  display: block;
}
li#customize-control-blog_featured_image_size select {
  text-transform: capitalize;
}

/* CSS For Custom RGBA Control */
.king-alpha-container .transparency {
  height:24px;
  width:100%;
  background-color:#FFF;
  background-image:url(../../assets/images/transparency-grid.png);
  box-shadow:0 0 5px rgba(0,0,0,0.4) inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding:0;
}
.king-alpha-container .ui-slider-handle {
  color:#777;
  background-color:#FFF;
  text-shadow:0 1px 0 #FFF;
  text-decoration:none;
  position:absolute;
  z-index:2;
  box-shadow:0 1px 2px rgba(0,0,0,0.2);
  border:1px solid #aaa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  opacity:0.9;
  margin-top:-2px;
  height:20px;
  cursor:ew-resize;
  font-size:12px;
  padding:3px;
} 
.king-alpha-container .ui-slider {
  position:relative;
  text-align:center;
  width:88%;
} 
.wp-picker-container a.wp-picker-open ~ div.king-alpha-container {
  display:block;
} 
.king-alpha-container {
  box-sizing:padding-box;
  display:none;
  border:1px solid #dfdfdf;
  border-top:none;
  background:#FFF;
  padding:0 11px 6px;
} 
.customize-control-alphacolor .wp-picker-container .iris-picker {
  border-bottom:none;
}